<div class="jumbotron">
    <h3>
        <%= @article.title %>
    </h3>
    <p>
        <%= @article.content %>
    </p>
    <div>
        <p><%= link_to "Delete", @article, method: :delete %>
        <%= link_to "Edit", "#{@article.id}/edit" %></p>
    </div>
</div>