<h1>
    <%= @article.title %>
</h1>
<div>
    <%= @article.content %>
</div>

<div>
   <%= link_to "Delete article", @article, method: :delete %>
   <%= link_to "Edit article", "#{@article.id}/edit" %>
</div>