<div class="container">
    <h1 class="text-uppercase">
        <%= @article.title %>
    </h1>
    <div class="container">
        <%= @article.content %>
        <div>
            <%= link_to "Delete", @article, method: :delete %>
            <%= link_to "Edit", "#{@article.id}/edit" %>
        </div>
    </div>
</div>