@import "bootstrap";

.navbar {
        margin-bottom: 0;
        background-color: #13335c;
}
body {
        font-family: 'Merriweather', sans-serif;
}
h1,
h2 {
        font-weight: bold;
}

a:visited {
        color: rgb(65, 98, 160);
}
.p-jumbotron {
    text-align: center;
}
.jumbotron {
    margin: 25px;
}

.button {
    margin: 15px;
    text-align: left;
}